@tailwind base;
@tailwind components;
@tailwind utilities;


/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #333;
    padding: 1rem;
    border-radius: 5px;
  }



  /* Show menu icon on mobile */
  .menu-icon {
    display: block;
  }
}



